NODE_ENV=development
PORT=3000
RUN_MIGRATIONS=true

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=nestjs_drizzle

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/nestjs_drizzle

JWT_SECRET=dev-only-change-me
JWT_EXPIRES_IN=1d

PGADMIN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
